<div class="container">
    <h1>Hello, Welcome {{ vm.date | date: 'yyyy-MM-dd' }}</h1>
    <p>欢迎使用本项目模板, 下一步:</p>
    <ul>
        <li>在<code>src/app/</code>下创建自己的功能文件夹,在其中编写自己的业务逻辑</li>
        <li>可以重用的组件放到<code>src/components/</code>下, 后者写成 bower 模块, 然后在 bower.json 中添加依赖</li>
    </ul>
    <h2>可参考:</h2>
    <ul>
        <li><a href="http://gulpjs.com/">gulp</a></li>
        <li><a href="http://bower.io/">bower</a></li>
        <li><a href="http://nodejs.org/">node</a></li>
        <li><a href="http://angularjs.org/">angular</a></li>
    </ul>
</div>

