<div class="container">
    <h1>Hello, Welcome</h1>
    <p>欢迎使用本项目模板, 下一步:</p>
    <ul>
        <li>在<code>app/scripts/app.js</code>里添加新的路由</li>
        <li>在<code>app/partials/</code>里添加新的模板</li>
        <li>在<code>app/scripts/</code>里对应的文件里, 添加你自己的
            <code>controller</code>,<code>directive</code>,<code>filter</code>等</li>
        <li>第三方js可以放到<code>app/vendor</code>下, 然后在<code>app/index.html</code>里添加引用</li>
        <li>css和scss文件放到<code>app/styles</code>下, 同样需要在<code>app/index.html</code>里添加引用</li>
    </ul>
    <h2>可参考:</h2>
    <ul>
        <li><a href="http://gulpjs.com/">gulp</a></li>
        <li><a href="http://bower.io/">bower</a></li>
        <li><a href="http://nodejs.org/">node</a></li>
        <li><a href="http://angularjs.org/">angular</a></li>
    </ul>
</div>
